@import (less) "header.less";

body{
    margin: 0;
    background-color: #edf1f3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #e0e0e0;

    #fog {
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: rgba(0,0,0,0.8);

        
        #video-container {
            max-height: 100vh;
            max-width: 100vw;
            height: 500px;
            width: 888px;
            background-color: white;
            border-radius: 3px;
            display: flex;
            box-shadow: 1px 1px 5px black;

            #remove {
                background-color: #ec5757;
                height: 30px;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                z-index: 1;
                margin: -5px -5px 0px -25px;
                background-image: url('../icon/close_x.png');
                background-size: 15px;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                transition: all 0.3s;
                box-shadow: 0px 0px 3px 1px white;

                &:hover{
                    background-color: #ae3d3d;
                }
            }
        }
    }
}

#header #menu-button {
    height: 50px;
    width: 50px;
}

#section-1 {
    width: 100%;
    height: 350px;
    display: flex;
    background-image: url('../image/arena_back.jpg');
    background-size: cover;
    background-position: bottom;
    margin-top: 60px;

    @media @size900 {
        margin-top: 80px;
    }

    .card {
        width: 100%;
        background-color: rgba(0,0,0,0.3);
        text-shadow: 0px 0px 5px black;
        margin: 10px;
        border-radius: 10px;
        padding: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-repeat: no-repeat;

        @media @size900 {
            width: 30%;
            background-color: rgba(0,0,0,0.6);
        }

        .title{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .body{
            font-size: 1em;
        }
    }
}

#section-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;

    .small .card-wrapper{
        @media @size600 {
            width: 50%;
        }

        @media @size1400 {
            width: 35%;
        }
    }

    .card {
        border-radius: 5px;
        background-color: #455A64;
        color: white;
        padding: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;	
        box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
        box-sizing: border-box;
        text-align: justify;


        .container {
            @media @size600 {
                display: flex;
            }

            @media @size900 {
                display: block;
            }

            @media @size1400 {
                display: flex;
            }
        }        

        .content {
            flex-basis: 350px;
            flex-grow: 1;
        }

        .video {
            margin-top: 15px;
            flex-basis: 50%;
            flex-grow: 2;
            display: flex;
            align-items: center;
            background-color: black;
            cursor: pointer;

            @media @size600 {
                margin-top: 0px;
                margin-left: 15px;
            }

            @media @size900 {
                margin-top: 15px;
                margin-left: 0px;
            }
            
            &:hover .thumb {
                opacity: 0.7;
            }
        }

        .a-wrapper {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
    
            @media @size600 {
                justify-content: flex-start;
            }        

            @media @size900 {
                justify-content: flex-end;
            }
            
            @media @size1400 {
                justify-content: flex-start;
            }
            
        }
    
    }

    .title {
        font-size: 1.5em;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        text-shadow: 0px 0px 3px black;
    }

    .body {
        flex-grow: 1;
        font-family: 'Roboto', sans-serif;
    }

    .text {
        font-family: 'Roboto', sans-serif;
    }

    a {
        color: #92c2e8;
        font-size: 1em;
        font-family: 'Source Code Pro', monospace;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;

        &:hover {
            background-color: #92c2e8;
            color: #063a50;
            border-radius: 3px;
        }
    }

    .card-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 5px;

        @media @size900{
            width: 50%;
        }

        @media @size1200{
            width: 25%;
        }

        @media @size1400{
            width: 50%;
        }
        
    }

    .video {

        @media @size1400{
            margin-top: 0px;
            margin-left: 15px;
        }
        
        .thumb {
            width: 100%;
            transition: all 0.3s;
        }

        .play {
            filter: grayscale(100%);
            width: 25%;
            margin-left: 37.5%;
            margin-right: -62.5%;
            z-index: 1;
            transition: all 0.3s;
        }
    }

    .small, .big {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }    
}