body{
	margin: 0;
	background-color: #edf1f3;
	font-family: consolas, arial, sans-serif;
	font-size: 16px;
}

#canvas-container {
	flex-direction: column-reverse;
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #bcd2db;
    box-shadow: 1px 1px 5px 0px black;
    border-radius: 3px;
    z-index: 1;
    box-sizing: border-box;
	padding: 0;
	border: none;
	position: absolute;
	opacity: 0;
	transition: opacity 1s;
}

#canvas-div {
	border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 2px black inset;
    padding: 4px 2px 2px 4px;
    box-sizing: border-box;
    background-color: #8c4c30;
	height: 100%;
}

#canvas-container canvas{
	max-width: 100vw;
	border-radius: 3px;
}

@media only screen and (min-width: 600px) {
#canvas-container {
	height: 100vh;
	width: auto;
	flex-direction: row;
    padding: 5px;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
}

#canvas-div {
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
}

#canvas-container canvas{
	max-width: none;
	max-height: 100%;
}
}

#ui-right-side {
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#frame {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 65px;
}

.button {
    background-color: #00638d;
    border: 0;
    color: white;
    border-radius: 3px;
	font-size: 1.3rem;
    font-family: consolas, helvetica, arial, sans-serif;
	outline: none;
	cursor: pointer;
	transition: background-color 0.5s;
}

#code-selection .button {
	max-width: 300px;
	width: 100%;
	height: 75px;
	margin: 5px 0px;
}

.button:hover {
	background-color: #1e86d8;
}

.button:disabled {
	background-color: #8f98a3;
	cursor: not-allowed;
}

#canvas-container #ui-right-side #button-container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #c4c4c4;
    opacity: 1;
    padding: 5px;
    border-radius: 3px;
    transition: opacity 0.5s;
    margin-top: 0px;
	width: 100%;
	box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
#canvas-container #ui-right-side #button-container {
    margin-top: -85px;
    opacity: 0.5;
	width: auto;
}
}

#canvas-container #ui-right-side #button-container:hover {
    opacity: 0.9;
}

#canvas-container #ui-right-side #button-container .button {
	box-sizing: border-box;
    padding: 5px 10px;
    height: 50px;
    width: 60px;
    margin: 0px 3px;
    background-color: #cecece;
}

#back-step {
	background-image: url('../icon/backward.png');
	background-repeat: no-repeat;
	background-size: 40px; 
	background-position: center;
}

#fowd-step {
	background-image: url('../icon/forward.png');
	background-repeat: no-repeat;
	background-size: 40px; 
	background-position: center;
}

#button-container .speed {
	font-family: acme;
	font-size: 0.8em;
	color: black;
}

#canvas-container #ui-right-side #button-container .button:hover {
    background-color: #00638d;
}

#button-container .button img {
	width: 100%;
	height: 100%;
}

#time-container {
	width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
}

#time {
    height: 7px;
	box-sizing: border-box;
	width: 100%;
}

#time .ui-slider-handle {
	opacity: 0;
    height: 0px;
	top: 2px;
    width: 10px;
    border-radius: 10px;
    background-color: #00638d;
	border: none;
	transition: opacity 0.2s, height 0.2s, top 0.2s;
	outline: none;
	margin-left: -3px;
}

#time-container:hover .ui-slider-handle {
	opacity: 1;
    height: 10px;
    top: -3px;
}

#time .ui-slider-range{
	transition: background-color 0.5s;
	margin-top: -1px;
	height: 7px;
	background-color: #7895a1;
}

#time-container:hover .ui-slider-range {
    background-color: #00638d;
}

#time .ui-slider-time {
	opacity: 0;
	position: absolute;
    top: -24px;
    background-color: #646464;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    margin-left: -18px;
	transition: opacity 0.3s;
	font-family: acme;
	font-size: 0.9em;
}

#time-container:hover .ui-slider-time {
	opacity: 1;
}

@media only screen and (min-width: 600px) {
#code-selection .button {
	margin: 0px 30px;
}
}

#ui-container {
	margin-top: 5px;
    width: 100%;
	max-width: 350px;
    display: flex;
    overflow-x: auto;
	overflow-y: auto;
    margin-right: 5px;
    border-radius: 3px;
	height: 100%;
    background-color: #bcd2db;
    z-index: 1;
}

@media only screen and (min-width: 600px) {
#ui-container {
	overflow-x: hidden;
	display: block;
	margin-top: 0px;
}
}

.ui-glad {
    width: 100%;
    background-color: #c4c4c4;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    box-shadow: 1px 1px 2px 2px #2e251d inset;
    box-sizing: border-box;
	margin-bottom: 5px;
	border-radius: 3px;
	padding: 5px;
	border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}

.glad-name {
    width: 100%;
    height: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
	font-family: acme, cursive;
	font-size: 1.5em;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px black;
    color: white;
}

.glad-name span {
	width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 225px;
	text-align: center;
}

.row {
    width: 100%;
    display: flex;
    align-items: flex-start;
	justify-content: center;
}

.glad-portrait {
    width: 64px;
    height: 64px;
	margin: 5px;
    background-color: #aadaaa;
    box-shadow: 1px 1px 3px 0px black inset;
    border: 2px solid #c4c4c4;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
	border-radius: 40px;
	box-sizing: border-box;
	overflow: hidden;
	transition: background-color 2s;
}

.ui-glad.dead .glad-portrait {
    background-color: #a6a6a6;
}

.ui-glad.dead .glad-portrait canvas {
	opacity: 0.5;
}

#canvas-container .glad-portrait canvas {
	max-height: none;
	max-width: none;
	transition: opacity 2s;
}

.glad-right-side {
    flex-grow: 1;
}

.glad-hp, .glad-ap, .glad-xp {
	width: 100%;
    height: 18px;
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.glad-xp {
    height: 10px;
	margin-top: 8px;
}

.glad-hp img,
.glad-ap img {
	width: 25px;
	height: 25px;
	z-index: 1;
	transition: filter 2s;
}

.ui-glad.dead .glad-hp img {
	filter: grayscale(70%);
}

.glad-xp img {
	width: 15px;
    height: 15px;
    margin-left: -10px;
    margin-right: -7px;
}

.glad-xp .lvl-value {
    width: 30px;
    height: 15px;
    box-sizing: border-box;
    z-index: 1;
    background-color: #fff100;
    border-radius: 15px;
    padding: 2px;
    font-family: acme, cursive;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c4c4c4;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: 1px 1px 2px black;
}

.hp-bar {
    margin-left: -13px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #6b0000;
    border: 2px solid #c4c4c4;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding-left: 3px;
}

.hp-bar .filled {
    box-sizing: border-box;
    background-color: #f00;
    box-shadow: 1px 1px 3px black inset;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.ap-bar {
    margin-left: -18px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #000075;
    box-shadow: 1px 1px 3px black inset;
    border: 2px solid #c4c4c4;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding-left: 2px;
}

.ap-bar .filled {
    box-sizing: border-box;
    background-color: #00f;
    box-shadow: 1px 1px 3px black inset;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.xp-bar {
    margin-left: -7px;
    margin-right: 30px;
    background-color: #b5b592;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 0px #7d7d54 inset;
    padding-left: 1px;
    border: 2px solid #c4c4c4;
    border-bottom: 2px solid #e5e5b8;
    border-right: 2px solid #e5e5b8;
    display: flex;
    align-items: center;
}

.xp-bar .filled {
	box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px #7a7a03 inset;
    background-color: #fff200;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.filled {
	transition: width 0.5s;
}

.glad-buffs {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.glad-buffs div {
    padding: 3px 7px;
    background-color: #a6a6a6;
    box-shadow: 1px 1px 3px 0px black inset;
    border: 2px solid #c4c4c4;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 3px;
}

.glad-buffs div.active{
	box-shadow: none;
    border: 2px solid transparent;
    background-color: transparent;
}

.glad-buffs div.active img{
	filter: none;
}

.glad-buffs img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%) contrast(0%) brightness(150%);
	transition: filter 0.5s;
}

.glad-attr {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.glad-attr img{
	width: 20px;
    height: 20px;
    z-index: 1;
    border-top: 1px solid white;
    border-left: 1px solid white;
    box-shadow: 1px 1px 2px black;
    border-radius: 20px;
    padding: 1px;
}

.glad-str img{
	background-color: #ff5050;
}

.glad-agi img{
	background-color: #e3e300;
}

.glad-int img{
	background-color: #7c90ff;
}

.glad-attr div{
	display: flex;
    align-items: center;
	margin-bottom: 2px;
}

.glad-attr span{
	width: 10px;
    text-align: center;
	font-size: 0.9em;
    font-family: acme, cursive;	
    background-color: #a6a6a6;
    padding: 0px 8px 0px 15px;
	margin-left: -10px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black inset;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
	text-shadow: 1px 1px 3px black;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
    margin: 1px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

#code-selection {
        background-color: white;
    box-shadow: 1px 1px 5px 0px black;
    border-radius: 3px;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

#code-selection #intro {
	font-family: acme;
	font-size: 1.5em;
	margin: 20px 0px;
}

@media only screen and (min-width: 600px) {
#code-selection #intro {
	margin: 20px 40px;
}
}

#intro p {
	margin: 0;
}

#intro #main-text {
	
}

#intro #sub-text {
	font-size: 0.75em;
    margin-top: 20px;
    color: #858585;
}

#intro #sub-text a {
	color: #00638d;
}

#preview-container {
	width: 100%;
}

#code-box {
    min-height: 200px;
    border: 4px dashed #00638d;
    border-radius: 10px;
    margin: 20px 0px;
    width: 100%;
    background-color: #bddeed;
    font-family: acme;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
    cursor: pointer;
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
#code-box {
	width: 90%;
}
}


#code-box.dz-drag-hover {
	border-style: solid;
}

#code-box .dz-message {
    color: white;
    text-shadow: 1px 1px 2px black;
	font-size: 1.2em;
    text-align: center;
}

.dz-started .dz-message {
    display: none;
}

#dz-add {
	display: none;
    width: 100%;
    height: 60px;
    border-radius: 3px;
	cursor: pointer;
	outline: none;
	margin-top: 5px;
	background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
	background-image: url('../icon/round_add.png');
    background-color: #13ef1336;
    border: 2px solid #45e2456e;
}

#dz-add:hover {
	background-color: #09c40961;
}

#dz-add.ui-droppable-active {
	background-image: url('../icon/delete.png');
    background-color: #ff00006b;
    border: 2px solid #ff3526;
}

.dz-started #dz-add {
	display: flex;
}

#code-box.dz-drag-hover .dz-message{
	opacity: 0.5;
}

.dz-preview {
	display: flex;
	align-items: center;
    border-radius: 3px;
    background-color: #edf1f3;
    box-shadow: 1px 1px 2px black inset;
    border: 2px solid #bddeed;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 10px;
	margin-bottom: 5px;
	cursor: move;
}
.dz-preview.error {
    background-color: #e2baba;
	text-shadow: 1px 1px 2px #f8dddd;
	flex-direction: column;
}


.dz-preview.error a {
	color: #00638d;
}

.dz-preview .row{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	margin-bottom: 10px;
	color: #646464;
}

.dz-preview .message,
.dz-preview .link {
	flex-direction: column;
}

.dz-preview .image{
    width: 90px;
    height: 90px;
	margin-right: 10px;
	display: flex;
    align-items: center;
}

.dz-preview .image canvas{
	display: block;
	width: 100%;
}

.dz-preview .info{
	flex-grow: 1;
}

.dz-preview span {
	margin-left: 5px;
	margin-right: 5px;
}

.dz-preview .file {
	color: #7d7d7d;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.dz-preview .name {
	margin-right: 15px;
    max-width: 250px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.dz-preview .glad {
	margin-right: 20px;
	font-size: 1.2em;
	display: flex;
	flex-direction : column;
}

@media only screen and (min-width: 600px) {
.dz-preview .file {
	flex-direction: row;
}
.dz-preview .glad {
	flex-direction: row;
}
}

.dz-preview .glad span{
	color: #ce0000;
}

.dz-preview .attr {
	justify-content: space-between;
	font-size: 1.2em;
	margin-bottom: 0px;
}

.dz-preview .attr span{
	color: #ce0000;
}

.rem {
    background-color: #eea3a3eb;
    border: 1px solid black;
	box-shadow: 1px 1px 3px black;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    position: absolute;
    margin-top: -65px;
    margin-left: -15px;
    cursor: pointer;
    font-family: acme;
    color: #556c77;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
}

@media only screen and (min-width: 600px) {
.rem {
    margin-top: -45px;
}
}

#fog {
	align-items: center;
    justify-content: center;
    display: flex;
}

#end-message,
#url {
    width: 400px;
	max-width: 100%;
    background-color: #00638dcc;
    display: flex;
    align-items: center;
	flex-direction: column;
    border-radius: 3px;
    box-shadow: 3px 3px 15px -1px black;
    font-family: acme;
    font-size: 1.8em;
    color: #cee1e8;
	border: 2px solid #3c839e;
	text-shadow: 1px 1px 5px black;
}

#end-message #image-container {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px 15px;
    box-sizing: border-box;
}

#end-message #image {
    margin-right: 10px;
}

#end-message #victory {
	border-top: 3px solid;
    border-bottom: 3px solid;
    width: 100%;
    text-align: center;
    margin: 15px 0px;
    border-image: linear-gradient(to right,#00000000 7%,#6BBBDA 50%,#00000000 93%) 1 round;
    color: white;
	background-image: linear-gradient(to right,#00000000 7%,#6bbbda61 50%,#00000000 93%);
}

#end-message #name {
	overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

#end-message #button-container {
	width: 100%;
    border-top: 2px solid #3c839e;
    border-radius: 0px 0px 3px 3px;
	display: flex;
	justify-content: space-around;
}

#end-message .button {
	margin: 0;
    width: 100%;
    height: 50px;
}

#url {
	font-size: 1.3em;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
	transition: all 1s;
    justify-content: center;
}

#url.clicked {
    background-color: #2ca62291;
    border-color: #3c9e4a;
}

#url #hash {
	background-color: #02364c;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	font-family: consolas;
}

#fps{
	position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #000000ab;
    color: #b9b9b9;
    font-family: consolas;
    font-weight: bold;
    padding: 2px 7px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid #928e8e;
}