body{
	margin: 0;
	background-color: #edf1f3;
	font-family: consolas, arial, sans-serif;
	font-size: 16px;
}

#frame {
	width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}


.button {
    background-color: #00638d;
    border: 0;
    color: white;
    border-radius: 3px;
	font-size: 1.3rem;
    font-family: consolas, helvetica, arial, sans-serif;
	outline: none;
	cursor: pointer;
	transition: background-color 0.5s;
}

#code-selection .button {
	width: 100%;
    height: 75px;
    margin: 0;
    border-radius: 0px;
}

.button:hover {
	background-color: #1e86d8;
}

.button:disabled {
	background-color: #8f98a3;
	cursor: not-allowed;
}

#code-selection {
	background-color: white;
    box-shadow: 1px 1px 5px 0px black;
    border-radius: 3px;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

#code-selection #intro {
	font-family: acme;
	font-size: 1.5em;
	margin: 20px 0px;
	color: #646464;
}

@media only screen and (min-width: 600px) {
#code-selection #intro {
	margin: 20px 40px;
}
}

#intro p {
	margin: 0;
}

#intro #sub-text {
	font-size: 0.75em;
    margin-top: 20px;
    color: #858585;
}

#intro #sub-text a {
	color: #00638d;
}

#code-selection #button-container{
	width: 100%;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 8px;
    margin: 1px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

#code-selection #text-intro {
	font-family: acme;
    font-size: 1.4em;
    margin: 40px 10px 25px 10px;
}

#tiers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	margin-bottom: 15px;
	width: 100%;
}

#tiers-container .tier {
	display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    cursor: default;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px black;
    border-radius: 3px;
	font-family: acme;
    font-size: 1.2em;
	margin: 10px;
    width: 100%;
	padding-bottom: 2px;
}

#tiers-container .tier .title {
	display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c97a9;
    border-radius: 3px 3px 0px 0px;
	font-size: 1.4em;
    color: white;
    text-shadow: 1px 1px 3px black;
	padding: 5px 0px;
	margin-bottom: 2px;
}

#tiers-container .tier.defeated .title {
	background-color: #c88080;
}

#tiers-container .tier .title span{
	text-align: center;
	flex-grow: 1;
	margin-left: 45px;
}

#tiers-container .tier .title .icons{
	display: flex;
    align-items: center;
    margin-right: 10px;
}

#tiers-container .tier .title .icons div{
	display: flex;
	justify-content: center;
	align-items: center;
}

#tiers-container .tier .title .icons img{
	height: 30px;
}

#tiers-container .tier .team {
    color: #646464;
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 50px 3px 3px 50px;
    margin: 2px 5px 2px 5px;
    background-color: #e2e2e2;
    align-items: center;
	justify-content: space-between;
}

#tiers-container .tier .team:hover {
    background-color: #d5d5d5;
}

#tiers-container .team.gold {
    color: #90701a;
    background-image: linear-gradient(to bottom,#c1922a,#f9e777,#c1922a);
}

#tiers-container .team.silver {
    color: #6c6c6c;
    background-image: linear-gradient(to bottom,#9c9c9c,#e4e4e4,#9c9c9c);
}

#tiers-container .team.bronze {
    color: #6d4c39;
    background-image: linear-gradient(to bottom,#98694d,#e1c19a,#98694d);
}

#tiers-container .icon {
    background-color: #bcbcbc;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 5px 3px 3px;
}

#tiers-container .team:hover .icon {
    background-color: #77bb77;
}

#tiers-container .tier.defeated .team:hover .icon {
    background-color: #dc6158;
}

#tiers-container .team.gold .icon {
    background-color: #fff3a8;
    border: 2px solid #c1922a;
}

#tiers-container .team.silver .icon {
    background-color: #f7f7f7;
    border: 2px solid #9c9c9c;
}

#tiers-container .team.bronze .icon {
    background-color: #f9e2c7;
    border: 2px solid #98694d;
}

#tiers-container .team.none .icon {
	height: 40px;
    width: 40px;
    border: 2px solid #bcbcbc;
    background-color: #fff;
    font-size: 1.5em;
}

#tiers-container .icon img {
    width: 15px;
}

#tiers-container .team.win img {
    width: 40px;
	height: 40px;
}

#tiers-container .team span {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#tiers-container .team.win span {
    flex-grow: 1;
    text-align: center;
    font-size: 1.3em;
}

#tiers-container .team .info {
    display: flex;
    align-items: stretch;
}

#tiers-container .team .info .glad,
#tiers-container .team .info .time {
    color: #a4a4a4;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 3px;
    padding: 1px 2px;
    width: 30px;
	box-sizing: border-box;
}

#tiers-container .team .info .glad,
#tiers-container .title .icons .glad {
    width: 35px;
    margin-right: 5px;
}

#tiers-container .team .info .glad .g-bar{
	background-color: #d5d5d5;
	width: 7px;
    height: 20px;
    margin: 0px 1px;
    border-radius: 3px;
}

#tiers-container .team .info .glad.three .g-bar{
	background-color: #4caf50;
}

#tiers-container .team .info .glad.two .g-bar:nth-child(2),
#tiers-container .team .info .glad.two .g-bar:nth-child(3){
	background-color: #ffc107;
}

#tiers-container .team .info .glad.one .g-bar:nth-child(3){
	background-color: #f44336
}

#tiers-container .team .info .time,
#tiers-container .title .icons .time {
    width: 50px;
	font-size: 0.9em;
}

#tiers-container .team .info .time img{
	height: 25px;
}

#pre-battle-container {
    font-family: acme;
	color: #646464;
	width: 100%;
}

#pre-battle-container #title {
	display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c97a9;
    border-radius: 3px 3px 0px 0px;
	font-size: 1.4em;
    color: white;
    text-shadow: 1px 1px 3px black;
	padding: 10px 15px;
}

#pre-battle-container #glad-showcase {
    display: flex;
    justify-content: space-around;
    background-color: #e4f7ff;
    padding: 10px 0px;
    margin-bottom: 20px;
}

#pre-battle-container #glad-selection {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 350px;
    margin: 20px auto;
}

#pre-battle-container .glad-box {
    width: 70px;
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
	flex-grow: 1;
}

#pre-battle-container .glad-box.dead .canvas{
	background-color: #f4b6b6;
}

#pre-battle-container .glad-box.dead .canvas canvas{
	opacity: 0.6;
}

#pre-battle-container #team-container .glad-box {
	cursor: pointer;
}

#pre-battle-container #team-container .glad-box.dead {
	cursor: default;
}

#pre-battle-container #glad-showcase .glad-box.empty .name {
	filter: blur(3px);
}

#pre-battle-container .glad-box .canvas {
    width: 64px;
    height: 64px;
    margin-bottom: 5px;
    padding: 5px;
    border: 3px #62a5c1;
    border-radius: 10px;
	transition: all 0.5s;
}

#pre-battle-container #glad-showcase .glad-box .canvas {
	border-style: solid;
	background-color: #ceeaf6;
}

#pre-battle-container #glad-showcase .glad-box.empty .canvas {
	border-style: dashed;
	background-color: transparent;
}

#pre-battle-container #glad-selection .glad-box .canvas {
	border-style: dashed;
}

#pre-battle-container #glad-selection .glad-box.selected .canvas {
	border-style: solid;
	background-color: #ceeaf6;
}

#pre-battle-container #glad-selection .glad-box:hover .canvas {
	background-color: #ceeaf6;
}

#pre-battle-container #glad-selection .glad-box.dead:hover .canvas {
	background-color: #f4b6b6;
}

#pre-battle-container .glad-box .name {
    width: 100%;
	text-align: center;
	transition: all 0.5s;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pre-battle-container .glad-box.selected .name,
#pre-battle-container #glad-showcase .glad-box .name {
	color: #be1515;
}

#pre-battle-container #team-container #name {
    text-align: center;
    font-size: 1.4em;
	margin: 10px 10px 0px 10px;
	height: 60px;
}

#pre-battle-container #team-container #name span{
	color: #be1515;
}

#team-name-window {
    width: 300px;
    background-color: white;
    border-radius: 3px;
    height: 150px;
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    font-family: acme;
    font-size: 1.2em;
    padding: 15px;
    box-sizing: border-box;
    color: #646464;
	box-shadow: 2px 2px 15px 1px blac
}

#team-name-window p {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    cursor: default;
}

#team-name-window.error p {
    color: #db2121;
}

#team-name-window.error .input {
	border-color: #db2121;
    background-color: #ffefef;
    border-radius: 3px 3px 0px 0px;
}

#team-name-window .button-container {
    display: flex;
    justify-content: space-around;
}

#team-name-window .button {
    width: 50%;
    background-color: transparent;
    color: #00638d;
    font-weight: bold;
}

#team-name-window .button:hover {
    background-color: #00638d;
    color: white;
}

#added-teams {
    width: 100%;
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
    align-items: center;
    border-top: 2px solid #e8e8e8;
    padding: 15px 0px;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 15px;
}

#added-teams.empty {
	display: none;
}

#added-teams #msg {
    font-family: acme;
    font-size: 1.3em;
    width: 100%;
    margin: 0px 0px 10px 30px;
	color: #646464;
}

#added-teams .team-name.added {
    padding: 5px 15px 5px 0px;
    box-sizing: border-box;
    margin: 0px 5px 5px 10px;
    background-color: #e5e6e5;
    display: flex;
    border-radius: 35px 10px 10px 35px;
	cursor: default;
}

#added-teams .team-name.added:hover {
    background-color: #d9d9d9;
}

#added-teams .delete {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f98a3;
    border-radius: 35px;
    height: 25px;
    color: #e5e6e5;
    position: absolute;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 1.3em;
    font-weight: bold;
	font-family: acme;
    cursor: pointer;
	transition: background-color 0.3s;
}

#added-teams .delete:hover {
    background-color: #f15353;
}

#added-teams .team-name span {
    margin-left: 45px;
    color: #646464;
    font-family: acme;
    font-size: 1.2em;
}

#fog {
	align-items: center;
    justify-content: center;
    display: flex;
}

#fog #code-window {
	background-color: black;
	color:	#00ff00;
	border: 1px solid #00638d;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	max-height: 100%;
}

#fog #title {
    background-color: #00638d;
	width: 100%;
	height: 25px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#fog #title span {
    color: white;
    font-size: 1.1em;
    width: 100%;
    margin-left: 20px;
    text-shadow: 1px 1px 2px black;
}

#fog #close {
	width: 30px;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
	background-image: url('../icon/close_x.png');
	background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

#fog #close:hover {
	background-color: rgba(255,0,0,0.5);
}

#fog pre {
	padding: 20px 10px;	
	margin: 0;
	white-space: pre-wrap;
	overflow-y: auto;
	max-height: 90vh;
}

#fog #code-window pre span {
	color: #86c5e0;
}

@media only screen and (min-width: 600px) {
#fog pre {
	padding: 20px 35px;	
}
}

.input {
    padding-left: 10px;
    border: 0;
    outline: none;
    transition: 0.5s;
    color: #00638d;
    font-size: 1.2em;
    font-family: consolas;
    font-weight: bold;
    background-color: transparent;
    box-sizing: border-box;
    border-width: 0px 0px 3px 0px;
    border-color: #646464;
    border-style: solid;
}

.input:focus {
    border-color: #00638d;
}

#url {
    width: 400px;
	max-width: 100%;
    background-color: #00638dcc;
    display: flex;
    align-items: center;
	flex-direction: column;
    border-radius: 3px;
    box-shadow: 3px 3px 15px -1px black;
    font-family: acme;
    color: #cee1e8;
	border: 2px solid #3c839e;
	text-shadow: 1px 1px 5px black;
	font-size: 1.3em;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
	transition: all 1s;
    justify-content: center;
}

#url.clicked {
    background-color: #2ca62291;
    border-color: #3c9e4a;
}

#url #hash {
	background-color: #02364c;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 5px;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
	font-family: consolas;
}
