RewriteRule    ^play\/([a-f0-9]+)/?$    playback.php?log=$1    [NC,L]
RewriteRule    ^tourn\/([a-f0-9]+)/?$    tournament.php?h=$1    [NC,L]

RewriteRule    ^function/(.*)$    function.php?&f=$1 [NC,L]
RewriteRule    ^funcao/(.*)$    function.php?f=$1&l=pt [NC,L]

RewriteRule    ^glad-([0-9]+)$    editor.php?g=$1    [NC,L]
RewriteRule    ^newglad$    editor.php?g=0    [NC,L]

RewriteRule    ^glads$    profile.php?t=glads    [NC,L]
RewriteRule    ^reports$    profile.php?t=report    [NC,L]
RewriteRule    ^battle$    profile.php?t=battle    [NC,L]
RewriteRule    ^rank$    profile.php?t=ranking    [NC,L]
RewriteRule    ^messages$    profile.php?t=messages    [NC,L]
RewriteRule    ^friends$    profile.php?t=friends    [NC,L]
RewriteRule    ^logout$    profile.php?t=logout    [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule     ^([^\.]+)$      $1.php

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]