{
    "mysql": {
        "host": "host",
        "port": 3306,
        "user": "user",
        "password": "password",
        "database": "database"
    },
    "mailer": {
        "user": "<AWS_ACCESS_KEY>",
        "password": "<AWS_SECRET_KEY>"
    }
}