.vscode
temp/*
node_modules
cwp_stats
node/package.json
node/package-lock.json
config.json
nginx/*
.env
public_html/logs/*
public_html/profpics/*
public_html/runs/*
.DS_Store
backup/gcloud_config.json
*.sql